{% extends 'base.html' %}

{% block content %}

<div class="flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg w-full lg:w-3/4 grid grid-cols-4 gap-4">

        <div class="col-span-3">
            <h1 class="text-4xl">Book Tracker</h1>

            <table id="book-table" class="table table-zebra">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Genre</th>
                  </tr>
                </thead>
                <tbody hx-on::after-settle="
                            this.firstChild.style.background='lightgreen';
                            setTimeout(() => this.firstChild.style.background='white', 2000);
                            ">
                  {% for book in books %}
                      {% include 'partials/book-row.html' %}
                  {% empty %}
                      <p>There is no books yet</p>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="col-span-1">
            <h1 class="text-4xl">Add a Book</h1>

            {% include 'partials/book-form.html' %}

        </div>
    </div>
</div>
{% endblock %}